<body>
  <header>
    <app-navbar></app-navbar>
 </header>
 <!-- Fin header -->
 <main>
           <app-banner></app-banner>
           <!-- Fin #lead -->

           <app-sobre-mi></app-sobre-mi>
           <!-- Fin #about -->

           <app-experiencia></app-experiencia>
           <!-- Fin #experiencia -->

           <app-educacion></app-educacion>
           <!-- Fin #educación -->

           <app-proyectos></app-proyectos>
           <!-- Fin #projectos -->

           <app-habilidades></app-habilidades>
           <!-- Fin #habilidades -->

           <app-contacto></app-contacto>
           <!-- Fin #contacto -->



 </main>

 <footer>
         <app-footer></app-footer>
 </footer>
 <!-- Fin footer -->


</body>
