<section id="projects" class="section-card" *ngIf= "miPortfolioProyecto == null; else proyecto">
  <h2 class="heading">Proyectos</h2>
    <div class="projects-timeline  container-mainSection">
      <div class="project-job container-cardSection container-mainWithImgSection">
        <div class="project-logo container-imgSection">
          <div class="img-project">
            <i class="fa-regular fa-image iconNoUser"></i>
          </div>
        </div>
        <div class="project-data container-dataSection">
          <div class="project-header container-headerSection">
            <h3>Nombre de proyecto</h3>
          </div>
          <time>Fecha inicio&nbsp;-&nbsp;Fecha fin</time>
          <div class="containerIconNoUser parrafo">
            Para agregar información en esta sección pulse el botón <strong>+</strong>.
          </div>
          <span class="link-repo">
            Link de repositorio
          </span>
        </div>
      </div>
    </div>
    <div class="containerIconDialog">
      <i class="fa-solid fa-plus" matTooltip="Agregar" matTooltipPosition="below" (click)="openDialogAgregarProyecto()"></i>
    </div>
</section>

<ng-template #proyecto>
  <section id="projects" class="section-card">
    <h2 class="heading">Proyectos</h2>
    <div class="projects-timeline container-mainSection"  *ngFor="let proyecto of miPortfolioProyecto; let indice=index">
      <div class="project-job container-cardSection container-mainWithImgSection">
        <div class="project-logo container-imgSection">
          <div class="img-project">
            <img [src]= "proyecto.urlProyecto" alt="Imágen representativa de proyecto"  />
          </div>
        </div>
        <div class="project-data container-dataSection">
          <div class="project-header container-headerSection">
            <h3>{{proyecto.nombre}}</h3>
            <div class="containerIconDialog">
              <i class="fa-solid fa-pencil" matTooltip="Editar" matTooltipPosition="below" (click)="openDialogEditarProyecto(indice)"></i>
              <i class="fa-regular fa-trash-can" matTooltip="Eliminar" matTooltipPosition="below" (click)="openDialogEliminarProyecto(indice)"></i>
            </div>
          </div>
          <time>{{proyecto.fechaInicio}}&nbsp;-&nbsp;{{proyecto.fechaFin}}</time>
          <p>
            {{proyecto.descripcion}}
          </p>
          <span class="link-repo">
            <a [href]="proyecto.urlRepositorio" target="_blank">Ir a repositorio</a>
          </span>
        </div>
      </div>
    </div>
    <div class="containerIconDialog">
      <i class="fa-solid fa-plus" matTooltip="Agregar" matTooltipPosition="below" (click)="openDialogAgregarProyecto()"></i>
    </div>
  </section>
</ng-template>




