<body>
  <div class="iconHome">
    <i class="fa-solid fa-house-chimney" routerLink="/home"></i>
  </div>
  <form  [formGroup]= "form" class="m-4" (ngSubmit)= "onEnviarRegistro($event)">
    <h2>Registro de usuarios</h2>
    <!-- <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Ingresa tu nombre" autocomplete="off" required>
    </div>
    <div class="mb-3">
      <label for="apellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" formControlName="apellido" id="apellido" placeholder="Ingresa tu apellido" autocomplete="off" required>
    </div> -->
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" formControlName="email" placeholder="Ingresá tu email" autocomplete="off"
      [ngClass]= "{'is-invalid' : Email?.errors && Email?.touched, 'is-valid' : !Email?.errors && Email?.touched} " class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div *ngIf= "Email?.errors && Email?.touched">
        <p *ngIf= "Email?.hasError('required')" class="text-danger">
          El email es requerido.
        </p>
        <p *ngIf = "Email?.hasError('email')" class="text-danger">
          El formato del email debe ser válido.
        </p>

      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" formControlName="password" placeholder="Ingresá tu contraseña"
      [ngClass]= "{'is-invalid' : Password?.errors && Password?.touched, 'is-valid' : !Password?.errors && Password?.touched} " class="form-control" id="exampleInputPassword1">
      <div *ngIf= "Password?.errors && Password?.touched" >
        <p *ngIf= "Password?.hasError('required')" class= "text-danger" >
          La contraseña es requerida.
        </p>
        <p *ngIf= "Password?.errors?.['minlength']" class= "text-danger" >
          La contraseña debe ser de 5 caracteres de mínimo y máximo de 10 caracteres.
        </p>

      </div>

    </div>

    <button type="submit" class="botonLogin">Registrar</button>
    <span class="text-registro">¿Ya tenes una cuenta? <strong routerLink="/iniciar-sesion">Iniciar sesión</strong></span>

  </form>
  <!-- <span class="message-succes">Ocurrió un error en tú registro, inténtalo nuevamente.</span> -->
  <span class="message-success" *ngIf="statusResponse" routerLink="/iniciar-sesion">Tú registro se realizó con éxito, ya puedes iniciar sesión.</span>
  <span class="message-error" *ngIf="statusResponse !=false">Ocurrió un error en tú registro, inténtalo nuevamente.</span>
</body>

