<section id="education">
  <h2 class="heading">Educación</h2>
  <div id="education-timeline">

      <div class="education-block" *ngFor="let educacion of educationList">
            <div class="education-date">
              <span><time>{{educacion.fechaInicio}}</time> - <time>{{educacion.fechaFin}}</time></span>
              <!-- <div class="container-edit">
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-pencil" matTooltip="Editar" matTooltipPosition="left"></i>
                <i class="fa-regular fa-trash-can" matTooltip="Eliminar" matTooltipPosition="right"></i>
              </div> -->
            </div>
            <!-- <div class="img-logo">
              <img [src]="educacion.url_logo" alt="logo de institución">
            </div> -->

          <div class="education-data">
              <h3>{{educacion.institucion}}</h3>
              <h4>{{educacion.titulo}}</h4>
              <p>
                {{educacion.descripcion}}
              </p>
              <div class="container-edit">
                <i class="fa-solid fa-plus" matTooltip="Agregar" matTooltipPosition="below"></i>
                <i class="fa-solid fa-pencil" matTooltip="Editar" matTooltipPosition="below"></i>
                <i class="fa-regular fa-trash-can" matTooltip="Eliminar" matTooltipPosition="below"></i>
              </div>
          </div>
      </div>
  </div>
</section>
