<nav id="navbar">

  <ul class="ul-navbar">
      <li class="img-logo-nav">
          <img src="./../assets/images/LogoArgPro.png"  alt="logo de Argentina Programa"/>
      </li>
      <li class="li-navbar" (click) = "irASobreMi()">
          Sobre mí
      </li>
      <li class="li-navbar" (click) = "irAExperiencia()">
          Experiencia
      </li>
      <li class="li-navbar" (click)= "irAEducacion()">
         Educación
      </li>
      <li class="li-navbar" (click) = "irAProyecto()">
          Projectos
      </li>
      <li class="li-navbar" (click) = "irAHabilidad()">
          Habilidades
      </li>
      <li class="li-navbar" (click) = "irAContacto()">
          Contacto
      </li>

      <li class="icon-right">
          <a class="icon-link" href="https://www.linkedin.com/in/maxchz/" target="_blank">
              <i class="fa-brands fa-linkedin fa-2x"></i>
          </a>
      </li>
      <li class="icons-right">
          <a class="icon-link" href="https://github.com/maxchz" target="_blank">
              <i class="fa-brands fa-github-square fa-2x"></i>
          </a>
      </li>
      <li class="icons-right">
          <button class="btn-inicio" type="button"  (click)= "cierraSesion()">Cerrar sesión</button>
      </li>

  </ul>
</nav>

