<nav id="navbar">
  <ul class="menu navbar">
    <li class="logo navbar"><a href="https://argentinaprograma.inti.gob.ar/" target="_blank"><img src="../../../assets/images/LogoArgPro9.png"  alt="logo de Argentina Programa"/></a></li>
    <li class="item navbar" (click) = "irASobreMi()">Sobre mí</li>
    <li class="item navbar" (click) = "irAExperiencia()">Experiencia</li>
    <li class="item navbar" (click)= "irAEducacion()">Educación</li>
    <li class="item navbar" (click) = "irAProyecto()">Proyectos</li>
    <li class="item navbar" (click) = "irAHabilidad()">Habilidades</li>
    <li class="item navbar" (click) = "irAContacto()">Contacto</li>

    <li class="item button secondary navbar icon">
      <a class="icon-link" href="https://www.linkedin.com/in/maxchz/" target="_blank">
        <i class="fa-brands fa-linkedin fa-2x"></i>
      </a>
    </li>
    <li class="item button secondary navbar icon">
      <a class="icon-link" href="https://github.com/maxchz" target="_blank">
        <i class="fa-brands fa-github-square fa-2x"></i>
      </a>
    </li>
    <li class="item button primary navbar" (click)= "cierraSesion()"><a>Cerrar sesión</a></li>
    <li class="toggle navbar"><a (click)= "toggleMenu()"><i class="fas fa-bars"></i></a></li>
  </ul>
</nav>

