<section id="skill" *ngIf="miPortfolioHabilidadDura == null; else habilidad">
  <h2 class="heading">Habilidades</h2>

  <div >
      <h3>Habilidades Duras/Tecnologías usadas</h3>
      <div class="container" >
              <div class="card">
                  <div class="box-logo">
                    <i class="fa-solid fa-chalkboard-user"></i>
                  </div>
                  <div class="box-text">
                      <div class="text"><span >Tecnología</span></div>
                      <div class="number"><span>%</span></div>
                  </div>
              </div>
      </div>
      <div class="container-edit">
        <i class="fa-solid fa-plus" matTooltip="Agregar" matTooltipPosition="below" (click)="openDialogAgregarHabilidadDura()"></i>
      </div>

      <div class="skill-soft">
          <h3>Habilidades Blandas</h3>
          <div class="skills">
            Habilidad blanda
          </div>
      </div>
      <div class="container-edit">
        <i class="fa-solid fa-plus" matTooltip="Agregar" matTooltipPosition="below" (click)="openDialogAgregarHabilidadBlanda()"></i>
      </div>
  </div>
</section>



<ng-template #habilidad>
  <section id="skill">
    <h2 class="heading">Habilidades</h2>

    <div >
        <h3>Habilidades Duras/Tecnologías usadas</h3>
        <div class="container" >
                <div class="card" *ngFor="let habilidades of miPortfolioHabilidadDura; let indice=index">
                    <div class="box-logo">
                      <mat-progress-spinner
                         class="example-margin"
                         [color]="color"
                         [mode]="mode"
                         [value]= "habilidades.progreso">
                      </mat-progress-spinner>
                        <!-- <img [src]="habilidades.urlTecLogo" alt="logo de tecnología usada"/> -->
                    </div>
                    <div class="box-text">
                        <div class="text"><span >{{habilidades.tecnologia}}</span></div>
                        <div class="number"><span >{{habilidades.progreso}}%</span></div>

                        <!-- <div class="number"><span >{{habilidades.progreso | percent}}</span></div> -->
                    </div>
                    <div class="container-edit">
                      <i class="fa-solid fa-pencil" matTooltip="Editar" matTooltipPosition="below" (click)="openDialogEditarHabilidadDura(indice)"></i>
                      <i class="fa-regular fa-trash-can" matTooltip="Eliminar" matTooltipPosition="below" (click)="openDialogEliminarHabilidadDura(indice)"></i>
                    </div>
                </div>

        </div>
        <div class="container-edit">
          <i class="fa-solid fa-plus" matTooltip="Agregar" matTooltipPosition="below" (click)="openDialogAgregarHabilidadDura()"></i>
        </div>


        <div class="skill-soft">
            <h3>Habilidades Interpersonales</h3>
            <div class="skills">
              <ul *ngFor="let habilidades of miPortfolioHabilidadBlanda; let i=index">
                <li>{{habilidades.habilidadBlanda}}</li>
              </ul>
            </div>
        </div>
        <div class="container-edit">
          <i class="fa-solid fa-plus" matTooltip="Agregar" matTooltipPosition="below" (click)="openDialogAgregarHabilidadBlanda()"></i>
          <i class="fa-solid fa-pencil" matTooltip="Editar" matTooltipPosition="below" (click)="openDialogEditarHabilidadBlanda()"></i>
          <i class="fa-regular fa-trash-can" matTooltip="Eliminar" matTooltipPosition="below" (click)="openDialogEliminarHabilidadBlanda()"></i>
        </div>
    </div>
  </section>

</ng-template>

