<section id="skill" class="section-card" *ngIf= "miPortfolioHabilidadDura == null && miPortfolioHabilidadBlanda == null; else habilidad">
  <h2 class="heading">Habilidades</h2>
    <h3>Tecnologías usadas</h3>
      <div class="skill-timeline-hard container-mainSection">
          <div class="skill-card container-cardSection">
            <div class="box-logo">
              <i class="fa-solid fa-circle-notch iconNoUser"></i>
              <span class="number parrafo">
                %
              </span>
            </div>
          </div>
          <div class="containerIconNoUser parrafo">
            Para agregar información en esta sección pulse el botón +.
          </div>
      </div>
      <div class="containerIconDialog">
        <i class="fa-solid fa-plus" matTooltip="Agregar" matTooltipPosition="below" (click)="openDialogAgregarHabilidadDura()"></i>
      </div>

    <h3>Habilidades Interpersonales</h3>
      <div class="skill-timeline-soft container-mainSection">
        <div class="containerIconNoUser parrafo">
            Para agregar información en esta sección pulse el botón +.
        </div>
      </div>
      <div class="containerIconDialog">
        <i class="fa-solid fa-plus" matTooltip="Agregar" matTooltipPosition="below" (click)="openDialogAgregarHabilidadBlanda()"></i>
      </div>
</section>



<ng-template #habilidad>
  <section id="skill" class="section-card">
    <h2 class="heading">Habilidades</h2>
      <h3>Tecnologías usadas</h3>
        <div class="skill-timeline-hard container-mainSection" >
          <div class="skill-card container-cardSection" *ngFor="let habilidades of miPortfolioHabilidadDura; let indice=index">
            <div class="box-logo">
               <mat-progress-spinner
                class="example-margin"
                [color]="color"
                [mode]="mode"
                [value]= "habilidades.progreso">
              </mat-progress-spinner>
              <span class="number">
                {{habilidades.progreso}}%
              </span>
            </div>
            <div class="box-text">
              <span class="text">
                {{habilidades.tecnologia}}
              </span>
            </div>
            <div class="containerIconDialog">
              <i class="fa-solid fa-pencil" matTooltip="Editar" matTooltipPosition="below" (click)="openDialogEditarHabilidadDura(indice)"></i>
              <i class="fa-regular fa-trash-can" matTooltip="Eliminar" matTooltipPosition="below" (click)="openDialogEliminarHabilidadDura(indice)"></i>
            </div>
          </div>
        </div>

        <div class="containerIconDialog">
          <i class="fa-solid fa-plus" matTooltip="Agregar" matTooltipPosition="below" (click)="openDialogAgregarHabilidadDura()"></i>
        </div>

      <h3>Habilidades Interpersonales</h3>
        <div class="skill-timeline-soft container-mainSection">
          <div class="skills-soft container-cardSection">
            <ul >
              <li *ngFor="let habilidades of miPortfolioHabilidadBlanda; let i=index">{{habilidades.hab_blanda}}</li>
            </ul>
          </div>
        </div>
        <div class="containerIconDialog">
          <i class="fa-solid fa-pencil" matTooltip="Editar" matTooltipPosition="below" (click)="openDialogEditarHabilidadBlanda()"></i>
          <i class="fa-regular fa-trash-can" matTooltip="Eliminar" matTooltipPosition="below" (click)="openDialogEliminarHabilidadBlanda()"></i>
          <i class="fa-solid fa-plus" matTooltip="Agregar" matTooltipPosition="below" (click)="openDialogAgregarHabilidadBlanda()"></i>
        </div>
  </section>
</ng-template>




