<section id="contact">
  <h2>Contáctame</h2>
  <div id="contact-form">
      <form class="form-data">
          <label for="_subject" class="form-input">
              <input type="text"  name="_subject" placeholder="Nombre" required/>
          </label>
          <label for="_replyto" class="form-input">
              <input type="email" name="_replyto" placeholder="Correo electrónico" required>
          </label>
          <textarea name="message" placeholder="Escribí tu mensaje..." required></textarea>
          <button class="btn-form" type="submit">Enviar</button>
      </form>
  </div>
  <!-- End #contact-form -->
</section>
