.container-dialogEdit{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width:100%;

}

::ng-deep .mat-form-field-wrapper {
  width:100% !important;
}

section{
  margin:20px auto;
}
button{
  margin: 0 10px;
}
