<div class="container-dialogEdit">
  <h2>Editar datos Sobre mí</h2>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Imagen perfil</mat-label>
      <input matInput placeholder="Link imagen de perfil" type="text">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>Url</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Domicilio</mat-label>
      <input matInput placeholder="ciudad, Provincia - País">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>Ciudad - País</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput placeholder="Descripción"></textarea>
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>Sobre tí</mat-hint>
    </mat-form-field>
  </p>

  <section>
    <!-- <div class="example-label">Basic</div> -->
    <div class="example-button-row">
      <button mat-raised-button  mat-dialog-close color="warn">Cancelar</button>
      <button mat-raised-button color="primary">Enviar</button>
    </div>
  </section>
</div>

