<body id="home">
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="menu-btn">
      <i class="fa-solid fa-bars" id="menu"></i>
      <i class="fa-solid fa-times" id="cancel"></i>
    </label>
    <img src="./../assets/images/LogoArgPro.png" alt= "Logo Argentina programa">
    <ul>
      <li><a>Inicio</a></li>
      <li><a>Sobre Mí</a></li>
      <li><a>Contacto</a></li>
      <li>
        <button class="btnLog" type="button" routerLink="/iniciar-sesion">Iniciar Sesión</button>
      </li>
      <li>
        <button class="btnLog" type="button" routerLink="/registrar-usuario">Registrarse</button>
      </li>
    </ul>

  </nav>



</body>
