<div class="container-dialogCreaUsuario" *ngIf= "showSpinner != true; else spinner">
  <h2>Eliminar experiencia laboral</h2>
    <mat-dialog-content class="mat-typography">
      <p>Si esta seguro que desea eliminar el siguiente registro de experiencia laboral, pulse el botón eliminar.</p>
      <ul>
        <li>
          Nombre de empresa: {{dataExperiencia?.nombreEmpresa}}
        </li>
        <li>
          Posición: {{dataExperiencia?.posicion}}
        </li>
        <li>
          Fecha inicio: {{dataExperiencia?.fechaInicio}}
        </li>
        <li>
          Fecha fin: {{dataExperiencia?.fechaFin}}
        </li>
        <li>
          Descripción: {{dataExperiencia?.descripcion}}
        </li>
      </ul>
    </mat-dialog-content>

    <mat-dialog-actions align= "end">
      <section>
        <div class="example-button-row">
          <button mat-raised-button  mat-dialog-close color="warn">Cancelar</button>
          <button mat-raised-button color="primary" type="button"  (click) = "onEnviarEliminarExperiencia()">Eliminar</button>
        </div>
      </section>
    </mat-dialog-actions>
</div>

<ng-template #spinner>
  <div class="container-spinnerPortfolio">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

