<div *ngIf= "showMessage, else noSuccess">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Se ha guardado con exito.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
<ng-template #noSuccess>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    No se ha guardado con exito, intente mas tarde.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</ng-template>

