<section id="about">
  <div class="container-about">
          <div class="about-titulo">
              <div class="img-perfil">
                  <img [src]="miPortfolio.imagenPerfil" alt="foto perfil">
              </div>
              <span>{{miPortfolio.domicilio}}</span>
              <div class="container-edit">
                <i class="fa-solid fa-pencil" matTooltip="Editar" matTooltipPosition="left"></i>
                <i class="fa-regular fa-trash-can" matTooltip="Eliminar" matTooltipPosition="right"></i>
              </div>
              <h2 class="heading">Sobre mí</h2>
          </div>
          <div class="about-parrafo">
              <p>
                {{miPortfolio.sobreMi}}
              </p>
              <div class="container-edit">
                <i class="fa-solid fa-pencil" matTooltip="Editar" matTooltipPosition="left"></i>
                <i class="fa-regular fa-trash-can" matTooltip="Eliminar" matTooltipPosition="right"></i>
              </div>
          </div>
  </div>
</section>
