
<section id="about" class="section-card" *ngIf="miPortfolio == null; else sobreMi">
      <h2 class="heading">Sobre mí</h2>
      <div class="container-about container-mainWithImgSection">
        <div class="about-titulo">
          <div class="img-perfil container-imgSection">
            <i class="fa-regular fa-address-card iconNoUser"></i>
          </div>
          <div class="containerIconNoUser city">
            Ciudad - País
          </div>
        </div>
        <div class="about-parrafo noUser">
          <div class="containerIconNoUser parrafo">
            Para agregar información en esta sección, pulse el botón + de la sección anterior.
          </div>
        </div>
      </div>
</section>

<ng-template #sobreMi>
      <section id="about" class="section-card">
        <h2 class="heading">Sobre mí</h2>
        <div class="container-about container-mainWithImgSection">
          <div class="about-titulo">
            <div class="img-perfil container-imgSection">
              <img [src]= "miPortfolio.imagenPerfil" alt="foto perfil">
            </div>
            <span>{{miPortfolio.domicilio}}</span>
          </div>
          <div class="about-parrafo">
            <p>
              {{miPortfolio.sobreMi}}
            </p>
          </div>
        </div>
      </section>
</ng-template>





