<section id="lead">
  <div id="lead-content">
      <h1>{{miPortfolio.nombre}}&nbsp;{{miPortfolio.apellido}}</h1>
      <h2>{{miPortfolio.posicionDev}}</h2>
          <a href="#" >
              <button class="btn-descarga-cv" type="button">Descargar CV</button>
          </a>
  </div>
  <!-- Fin #lead-content -->

  <div id="lead-overlay"></div>

  <div id="lead-down">

      <span (click)= "irASobreMi()">
          <i class="fa fa-chevron-down fa-1.5x"></i>
      </span>

  </div>
  <!-- End #lead-down -->
</section>
