<section id="lead" class="section-card" *ngIf="miPortfolio == null; else bannerConEdit">
  <div id="lead-content">
    <span class="lead-name">Mi Portfolio</span>
    <span class="lead-position">Pulsa en el botón de abajo para agregar tu información.</span>
  </div>
  <div class="containerIconDialog">
    <i class="fa-solid fa-plus" matTooltip="Agregar" matTooltipPosition="below" (click)="openDialogCreaPerfil()"></i>
  </div>
</section>

<ng-template #bannerConEdit>
    <section id="lead" class="section-card">
      <div class="containerIconDialog edit">
        <i class="fa-solid fa-pencil" matTooltip="Editar" matTooltipPosition="below" (click)="openDialogEditaPerfil()"></i>
      </div>
      <div id="lead-content">
        <span class="lead-name">{{miPortfolio.nombre}}&nbsp;{{miPortfolio.apellido}}</span>
        <span class="lead-position">{{miPortfolio.posicionDev}}</span>
        <span class="lead-phone">Tel.:&nbsp;{{miPortfolio.telefono}}</span>
        <span class="lead-email"> Correo:&nbsp;{{miPortfolio.correo}}</span>
      </div>

      <div class="download">
        <app-download-pdf></app-download-pdf>
      </div>
    </section>
</ng-template>
