.container-dialogCreaUsuario{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  /* width:100%; */

}

form, .mat-dialog-content, .mat-form-field{
  width: 100%;
}

.mat-dialog-content, .container-spinner{
  margin:auto;
  padding:auto;
}
.container-spinner{
  height:500px;
}
.p-emailUsuario, .p-idUsuario {
  display: none;
}

.ref-aster{
  width: 100%;
  text-align:left;
  font-style: italic;
  font-weight: 100;
  color: rgb(125, 125, 125);
  padding-left: 24px;
}

.container-spinner{
  display:flex;
  align-items: center;
  justify-content:center;
  margin:auto;
  padding: auto;
}

section{
  margin:20px auto;
}
button{
  margin: 0 10px;
}

