<div class="container-dialogCreaUsuario" *ngIf= "showSpinner != true; else spinner">
  <h2>Crear registro experiencia laboral</h2>
  <p class="ref-aster">* El asterisco indica que es obligatorio</p>
  <form  [formGroup]= "formExpCrea" (ngSubmit)= "onEnviarNuevaExperiencia($event)" class="form-dialogCreaUsuario">
    <mat-dialog-content>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Empresa</mat-label>
          <input matInput placeholder="Ingrese el nombre de la empresa" formControlName="nombreEmpresa" type="text" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Posición</mat-label>
          <input matInput placeholder="Ingrese su posición o puesto" formControlName="posicion" type="text" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Fecha Inicio</mat-label>
          <input matInput placeholder="dd-mm-aa" formControlName="fechaInicio" type="date" required>
          <mat-hint>Ingrese fecha de inicio</mat-hint>
        </mat-form-field>
        <span class="warning-dialog-date" *ngIf= "FechaFin <= FechaInicio">
          *La fecha de inicio debe ser menor a la fecha de finalización.
        </span><br>
        <span class="warning-dialog-date" *ngIf= "!isValiDateInicio" >
          *El año ingresado es incorrecto.
        </span>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Fecha Fin</mat-label>
          <input  matInput placeholder="dd-mm-aa" formControlName="fechaFin" id="fechaFin" type="date" required >
          <mat-hint>Ingrese fecha de finalización</mat-hint>
        </mat-form-field>
        <span class="warning-dialog-date" *ngIf= "FechaFin <= FechaInicio">
          *La fecha de finalización debe ser mayor a la fecha de inicio.
        </span><br>
        <span class="warning-dialog-date" *ngIf= "!isValiDateFin" >
          *El año ingresado es incorrecto.
        </span><br>
        <mat-checkbox [formControl] ="actualidadExpCrea">Actualmente desempeño este cargo</mat-checkbox>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea matInput placeholder="Descripción" formControlName="descripcion" required></textarea>
          <mat-hint>Agrege descripción de tareas realizadas- Hasta 800 caracteres</mat-hint>
        </mat-form-field>
      </p>
      <p class="p-idUsuario">
        <mat-form-field appearance="standard">
          <mat-label>Persona Id</mat-label>
          <input matInput placeholder="Id persona" formControlName="persona_id" type="number" required>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
  </mat-dialog-content>

  <mat-dialog-actions align= "end">
    <section>
      <div class="example-button-row">
        <button mat-raised-button  mat-dialog-close color="warn">Cancelar</button>
        <button mat-raised-button color="primary" type="submit" [disabled]= "formExpCrea.invalid" >Guardar</button>
      </div>
    </section>
  </mat-dialog-actions>

 </form>
</div>

<ng-template #spinner>
  <div class="container-spinnerPortfolio">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

