<div class="container-dialogEdit">
  <h2>Editar datos de usuario</h2>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder=" " type="text">
      <mat-hint>Ingrese un nuevo nombre</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Apellido</mat-label>
      <input matInput placeholder=" " type="text">
      <mat-hint>Ingrese su nuevo apellido</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Posición - Cargo</mat-label>
      <input matInput placeholder=" " type="text">
      <mat-hint>Ingrese su nuevo puesto o cargo</mat-hint>
    </mat-form-field>
  </p>

  <section>
    <!-- <div class="example-label">Basic</div> -->
    <div class="example-button-row">
      <button mat-raised-button  mat-dialog-close color="warn">Cancelar</button>
      <button mat-raised-button color="primary">Enviar</button>
    </div>
  </section>
</div>

