<div class="container-dialogCreaUsuario" *ngIf= "showSpinner != true; else spinner">
  <h2>Eliminar datos de habilidades interpersonales</h2>
  <p>En la siguiente lista seleccione la habilidad interpersonal que desea eliminar, luego pulse eliminar.</p>
    <form  [formGroup]= "form" (ngSubmit)= "onEnviarEliminaHabilidadBlanda($event)" class="form-dialogCreaUsuario">
        <mat-form-field appearance="fill">
          <mat-label>Listado de habilidades</mat-label>
          <mat-select [formControl] = "selected">
            <mat-option *ngFor="let habilidades of listHabBlanda" [value]= "habilidades.hab_blanda">
              {{habilidades.hab_blanda}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      <mat-dialog-actions align= "end">
        <section>
          <div class="example-button-row">
            <button mat-raised-button  mat-dialog-close color="warn">Cancelar</button>
            <button mat-raised-button color="primary" type="submit" [disabled]= "!selected.value" >Eliminar</button>
          </div>
        </section>
      </mat-dialog-actions>
    </form>
</div>

<ng-template #spinner>
  <div class="container-spinnerPortfolio">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

