@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Oxygen','Hind Siliguri','Roboto','Noto Sans', 'Segoe UI',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  cursor:pointer;
}

#main-portfolio{
display:flex;
flex-direction: column;
padding: 0 15%;
background: #e9e6d4;
}

/* SECCIONES PRINCIPALES */
.section-card{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5% 0 1.5% 0;
  padding:1.6%;
  background: #ffffff;
  border: 1px rgb(184,185,187) solid;
  border-radius: 13px;
}

/* TITULOS PRINCIPALES */
.heading{
  color:#333a56;
  position:relative;
  display:flex;
  justify-content:center;
  align-items: center;
  font-size:2em;
  font-weight:300;
  margin:0;
  margin:2.5% auto;

}
.heading:after{
  position:absolute;
  content:'';
  top:100%;
  height:1px;
  width:50px;
  left:0;
  right:0;
  margin:0 auto;
  background:#626943
}

/* CONTENEDOR NO DATA USUARIO */
.containerIconNoUser{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:4rem;
  margin:auto 0;
  padding:2.5%;
  background: rgb(238,238,238);
  border-radius: 8px;
}




/* CONTENEDOR DE ICONOS PARA EDITAR, CREAR y ELIMNAR */
.containerIconDialog{
  display:flex;
  width: 100%;
  height:30px;
  margin: 10px auto;
  justify-content:center;
  align-items: center;
}
.containerIconDialog i{
  background: #f4fef5;
  margin: 2%;
  padding: 1.2%;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}
.containerIconDialog i:hover{
  border-radius: 50%;
  background: rgb(234, 236, 240);
}

/* CONTENEDOR DIALOGS - SPINNER */

.container-dialogCreaUsuario{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  /* width:100%; */

}

form, .mat-dialog-content, .mat-form-field{
  width: 100%;
}

.mat-dialog-content, .container-spinner, .inicioSesion-spinner, .mat-spinner{
  margin:auto;
  padding:auto;
}
.container-spinner{
  background: white;
  border-radius: 10px;
  width: 50%;
  height: 70%;
  /* width:fit-content; */
  /* height:fit-content; */
}
.inicioSesion-spinner .mat-spinner circle{
  stroke: white!important;
}


/* .container-spinner.inicioSesion .mat-spinner{
  diameter: 20px;
} */
.p-emailUsuario, .p-idUsuario, .p-url_logo {
  display: none;
}

.ref-aster{
  width: 100%;
  text-align:left;
  font-style: italic;
  font-weight: 100;
  color: rgb(125, 125, 125);
  padding-left: 24px;
}

.container-spinner, .inicioSesion-spinner{
  display:flex;
  align-items: center;
  justify-content:center;
  margin:auto;
  padding: auto;
}

section{
  margin:20px auto;
}
/* button{
  margin: 0 10px;
} */



/* HEADER */
nav{
  background: black;
  padding: 5px 20px;
}
#navbar{
  background: #d5fcd9;
  padding: 5px 20px;
}
ul {
  list-style-type: none;
}
li {
  cursor: pointer;
}

.item.navbar {
  color: #626943;
  text-decoration: none;
}

li:hover {
  font-weight: bold;
}
.menu.navbar{
  padding:8px;
  margin:0px;
}

.menu li{
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.menu li a img, .menu.navbar .logo.navbar a img{
  width: 25%;
  height: auto;
}

.menu.navbar .logo.navbar a img{
  width: 45%;
}
.logo a,
.toggle a {
  font-size: 30px;
  color:rgb(111,149,186);
}
.toggle.navbar a {
  color: #626943;
  margin-left:auto;
}

.item.navbar a{
  cursor: pointer;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.active .item {
  display: block;
}

/* BANNER PRINCIPAL */
#lead{
  background: #333a56;
  overflow:hidden
}

.containerIconDialog.edit {
  justify-content:end;
}

#lead-content{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align:center
}

#lead-content .lead-name{
  color: white;
  font-size:3.2em;
  letter-spacing: 0.2em;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-transform:uppercase;
  line-height:1em;
  margin:15% auto 2.5% auto;
}

#lead-content .lead-position{
  color: white;
  letter-spacing: 0.08em;
  font-size:1.8em;
  margin:1% auto 18% auto;
}

#lead-content .lead-phone, .lead-email{
  color:white;
  font-size:1em;
  letter-spacing: 0.07em;
  margin: 0% auto 1% auto;
}

.download {
  display:flex;
  align-items:center;
  height: 45px;
  margin:2% auto;
  padding:0 auto;
  animation:pulsate 2s ease;
  animation-iteration-count:infinite;
}
.download i{
  color:#f4fef5;
  font-size: 40px;
  cursor:pointer;

}

@keyframes pulsate{0%{transform:scale(0.8, 0.8)}50%{transform:scale(1, 1)}100%{transform:scale(0.8, 0.8)}}


/* SECCION SOBRE MI y PROYECTO */

#about{
  min-height: auto;
  background:#ffffff;
}
.container-about, .container-mainWithImgSection{
  display:flex;
  padding:5% 1.5% 5% 1.5%;
  margin:auto 0;
  width:100%;
}
.about-titulo{
  display:flex;
  flex-direction: column;
  text-align:center;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.about-titulo span{
  margin-bottom: 5%;
}
.img-perfil, .container-imgSection{
  width: 170px;
  height: 170px;
  margin-bottom: 5%;
}
.img-perfil img, .container-imgSection img{
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border:2px solid #333a56;
  object-fit: cover;
}
.about-parrafo{
  line-height: 1.5;
  text-align:left;
  margin:0;
  width:70%;
  padding:0 3.5% 0 1%;
}
.fa-address-card, .iconNoUser{
  font-size: 140px;
  margin:auto;
  padding: auto;
  color:rgb(146, 146, 148);
}
.city{
  width:55%;
  height:2.5rem;
}

/* EXPERIENCIA y EDUCACION */

#experience-timeline, .container-mainSection{
  margin:0;
  padding: 0 1.5% 0 1.5%;
  width:100%;
}
.experience-job, .container-cardSection{
  display:flex;
  align-items: center;
  justify-content:center;
}
.experience-data, .container-dataSection{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width:100%;
  border-bottom:1px rgb(184,185,187) solid;
  padding: 3% 5%;
  text-align:left;
}
.experience-header, .container-headerSection{
  display:flex;
  align-items: center;
  width:100%;
}
.experience-header h3, .container-headerSection h3{
  margin: auto 0;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.containerIconDialog{
  justify-content:end;
}
.experience-data h4, .container-dataSection h4, .experience-data time, .container-dataSection time, .experience-data p, .container-dataSection p {
  margin: 0 auto 0 0;
}
.experience-data h4, .container-dataSection h4 {
  font-size: 16px;
  font-weight: 500;
}
.experience-data time, .container-dataSection time {
  font-size: 15px;
  color: rgb(140,140,140);
  margin-bottom:2%;
}
.experience-data p, .container-dataSection p{
  line-height:1.5;
}

/* PROYECTOS */

.projects-timeline.container-mainWithImgSection{
  padding: 3% 5%;
}
.project-logo.container-imgSection{
  display:flex;
  align-items: center;
  margin:auto 0;
  padding-left: 3%;
}
.img-project img{
  border:none;
}
.project-job.container-cardSection.container-mainWithImgSection{
  border-bottom: 1px rgb(184,185,187) solid;
  padding-bottom: 0;
}
.project-data.container-dataSection{
  border: none;
}
.link-repo{
  margin-top:3%;
  color:blue;
  cursor: pointer;
}

/* HABILIDADES DURAS - TECNOLOGIAS*/

#skill h3{
  margin:0 auto 0  0;
  padding-left:6%;
}
.skill-timeline-hard.container-mainSection{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap ;
  margin: 3% auto 0% auto;
  border-bottom: 1px rgb(184,185,187) solid;
}
.skill-card{
  width: 185px;
  height: auto;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  cursor: pointer;
  margin: 1% 1.5% 1% 1.5%;
}
.box-logo{
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  width:180px;
  height:180px;
  text-align: center;
  margin:12% auto;
  border-radius:50%;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box-logo img{
  display:flex;
  border-radius:50%;
  object-fit: fill;
  width:100%;
}

.box-logo:hover{
  transform: translateY(-10%);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: 0.5s;
}
.box-text{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text, .number{
  width: 100%;
  margin: auto;
  font-weight: 700;
  text-align:center;
  text-transform: uppercase;
}
.box-logo .number{
  font-size: 2rem;
}
.skill-card .containerIconDialog{
justify-content: center;
}
.mat-progress-spinner{
  position: absolute !important;
  left:auto;
  top:auto;
  z-index: 20;
}
.fa-circle-notch.iconNoUser{
  position:absolute;
  left:auto;
  top:auto;
  z-index: 20;
  rotate: 45deg;
}
.number.parrafo{
  position:absolute;
  left:auto;
  top:auto;
  z-index: 25;
}
.skill-timeline-hard .containerIconNoUser, .skill-timeline-soft .containerIconNoUser {
  margin-bottom: 3%;
}

/* HABILIDADES BLANDAS */

.skill-timeline-soft{
  display:flex;
  align-items: center;
  justify-content:center;
  height:auto;
  margin:2.5% 0 0 0;
  padding:0 5%;
  border-bottom: 1px rgb(184,185,187) solid;
}
.skills-soft.container-cardSection{
  display:flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap:wrap ;
}
.skills-soft ul{
  display:flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap:wrap ;
  margin-bottom: 2%;
  width:100%;
}
.skills-soft ul li{
  color:black;
  margin: 2%;
  padding:2% 4%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -4.6px 5px 0px inset,
              rgba(0, 0, 0, 0.15) 0px -7.2px 6px 0px inset,
              rgba(0, 0, 0, 0.1) 0px -14px 8px 0px inset,
              rgba(0, 0, 0, 0.09) 0px 1px 1px,
              rgba(0, 0, 0, 0.09) 0px 1px 2px,
              rgba(0, 0, 0, 0.09) 0px 1px 4px,
              rgba(0, 0, 0, 0.09) 0px 1px 8px,
              rgba(0, 0, 0, 0.09) 0px 1px 16px;
}
.skills-soft ul li:hover{
  cursor: pointer;
  transform: translateY(-10%);
  transition: 0.5s;
}



/* CONTACTO */

#contact, #contact-home{
  padding:50px 15px;
  text-align:center;
}
#contact-form{
  width:45%;
  margin:0 auto;
}
#contact p{
  text-align: justify;
}
.form-data{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:5% auto 0 auto;
  padding:0;
  width:100%;
  height: 70%;
}
.form-input{
  text-align: left;
  width:100%;
}
input, textarea{
  padding: 0;
  text-indent: 10px;
  font-size: 13px;
  width:100%;
  height: 30px;
  border-radius:4px;
  border:none;
  margin-bottom:10px;
  background:#b5b7b8;
  color:black;
}
textarea{
  padding-top:10px;
}
#contact-form input:focus,#contact-form textarea:focus{
  outline:none;
  background:#dadadb;
}
#contact-form textarea{
  height:150px;
}
.btn-form{
  width:100%;
  height:30%;
  background: rgb(54, 130, 206);
  border: 1px rgb(54, 130, 206) solid;
  border-radius:4px;
  padding:5px 0px;
  border:none;
  color:#000000;
  font-weight:700;
  font-size: 15px;
  box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  transition:.5s ease all;
}
.btn-form:hover{
  background: rgba(54, 130, 206, 0.788);
  border-color: rgba(54, 130, 206, 0.788);
}


/* FOOTER */

.container-footer {
  display:flex;
  align-items: center;
  justify-content: space-between;
  background:rgb(221,221,221);
  height: 60px;
}
.copyright {
  color: #353541;
  padding-left: 4%;
  font-size: 13px;
  font-weight: bold;
}
.copyright p{
    margin:0;
}
.social{
  padding-right: 4%;
}
.social ul {
  display:flex;
  margin:0;
}
.social ul li{
  padding: 0 10px;
}
.social ul li i{
  color: #353541;
  font-size:20px;
}
.top{
  text-align:center;
}
.top span{
    cursor:pointer;
    display:block;
    margin: 0 auto;
    width:35px;
    height:35px;
    border-radius:0.5rem;
    border:1.5px solid #b9bfc4;
    text-align:center;
}
.top i{
  animation:pulsatop 1.5s ease;
  animation-iteration-count:infinite;
  padding-top:0.5rem;
  color:#74808a;
}

  @keyframes pulsatop{0%{transform:scale(1, 1)}50%{transform:scale(1.6, 1.6)}100%{transform:scale(1, 1)}}

/* RESPONSIVE HEADER NAVBAR */

/* Tablet menu */
@media all and (min-width: 725px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .toggle {
    flex: 1;
    text-align: right;
  }
  .toggle.navbar a{
    text-align: center;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    order: 2;
  }
  .button.primary {
    border-bottom: none;
  }
  .button.secondary {
    border: 0;
  }
  .button a {
    padding: 7.5px 15px;
    border-radius: 5px;
    background: #15bcaf;
    border: 1px #15bcaf solid;
    color: black;
  }
  .button.navbar a {
    background: #626943;
    border: 1px #626943 solid;
    color: #f4fef5;
    cursor: pointer;
  }
  .button.secondary a{
    border: 1px black solid;
    background: transparent;
  }
  .button.secondary.navbar.icon a{
    color: #626943;
    border:none;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7) ;
    color: white;
  }
  .button.navbar a:hover {
    background: #15bcaf;
    border: 1px #15bcaf solid;
    color: #f4fef5;
  }
  .button.secondary a:hover {
    font-weight: bold;
    border: 1px #15bcaf solid;
  }
  .button.secondary.navbar.icon a:hover{
    background: transparent;
    color: #15bcaf;
  }
}


/* Desktop menu */
@media all and (min-width: 1090px) {

  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 5px 10px;
  }
  .menu li.button {
    padding-right: 0;
  }
}

@media (max-width:1090px){
  section .principal-text p{
    font-size: 32px;
  }

  /* BANNER */
  #lead-content .lead-name{
    font-size:2.5em;
  }
  #lead-content .lead-position{
    font-size:1.5em;
  }
  #lead-content .lead-phone, .lead-email{
    font-size:0.85em;
  }
  .download {
    height: 40px;
    margin:5% auto 2% auto;
  }
  .download i{
    font-size: 35px;
  }


  /* SOBRE MI y PROYECTO*/
  .about-parrafo{
    font-size: 13px;
    line-height: 20px;
  }
  .about-titulo span{
    font-size: 13px;
    margin-bottom: 5%;
  }
  .img-perfil{
    width: 150px;
    height: 150px;
  }
  .heading{
    font-size:1.8em;
  }
  .noUser{
    display:flex;
    align-items: center;
    justify-content:center;
  }
  .containerIconNoUser{
    width:80%;
    margin:2.5% 0 auto 0;
    font-size: 13px;
  }
  .fa-address-card, .iconNoUser{
    font-size: 115px;
  }

   /* EXPERIENCIA y EDUCACION*/
  .experience-header h3, .container-headerSection h3{
    font-size: 16px;
  }
  .experience-data h4, .container-dataSection h4 {
    font-size: 14px;
  }
  .experience-data time, .container-dataSection time {
    font-size: 13px;
  }
  .experience-data p, .container-dataSection p{
    font-size: 13px;
  }

   /* PROYECTO  */
   .link-repo{
    font-size:13px;
  }

  /* HABILIDADES DURAS- TECNOLOGIAS */
  #skill h3{
    font-size: 16px;
  }
  .box-logo{
    width:150px;
    height:150px;
  }
  .box-logo .number{
    font-size: 1.65rem;
  }
  .box-text, .skills-soft ul li{
    font-size:13px;
  }

  /* CONTACTO */
  #contact-form{
    width:70%;
  }
  #contact p{
    width:90%;
  }

/* CONTENEDOR DIALOGS - SPINNER */
.container-spinner, .mat-spinner{
  width: 45%;
  height: 55%;
}

}

@media (max-width:725px){
  .toggle{
    position:absolute;
    right:25px;
    top:5px;
  }
  .item.button.secondary.navbar.icon a i{
    color: #626943;
  }
  .secMain{
    flex-direction: column-reverse;
  }
  section .principal-text p{
    font-size: 15px;
  }
  section {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }
  section .principal-text  {
    align-items: center;
    width:100%;
    height:50vh;
  }
  section .principal-text p  {
    font-size: 25px;
    text-align: center;
    padding: 5% 15%;
    margin-top:5%;
    position:static;
  }
  section .img-portail  {
    align-items: center;
    width:100%;
    height:50%;
  }
  #about-home .secundary-text p{
    font-size: 15px;
    text-align: center;
    margin-top:4%;
    margin-left:5%;
    margin-right: 5%;
    line-height: 1.5;
  }

  /* BANNER */
  #main-portfolio{
    padding: 0;
  }
  #lead{
    justify-content: start;
  }
  #lead-content .lead-name{
    font-size:1.6em;
  }
  #lead-content .lead-position{
    font-size:1em;
  }
  #lead-content .lead-phone, .lead-email{
    font-size:0.6em;
  }
  .download {
    margin:20% auto 2% auto;
  }
  .download i{
    font-size: 28px;
  }

 /* SOBRE MI y PROYECTO */
   .container-about, .container-mainWithImgSection{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }
   .about-parrafo.noUser{
    width:100%;
    padding: 0 1%;
  }
  .about-titulo{
    width:100%;
  }
  .about-titulo span{
    font-size: 11px;
    margin: 2.5% auto 5% auto;
  }
  .img-perfil, .container-imgSection{
    margin-bottom: 0;
    width: 120px;
    height: 120px;
  }
  .heading{
    font-size:1.5em;
  }
  .containerIconNoUser{
    width: 100%;
    font-size: 13px;
  }
  .containerIconNoUser.city{
    width:30%;
    height: 2rem;
    margin:0 auto 5% auto;
    text-align: center;
  }
  .fa-address-card, .iconNoUser{
    font-size: 100px;;
  }

/* EXPERIENCIA y EDUCACION  */
  .experience-header h3, .container-headerSection h3{
    white-space: normal;
  }

/* HABILIDADES DURAS- TECNOLOGIAS */
  .skill-card{
    width:125px;
    margin: 0 3% 0 3%;
  }
  .box-logo{
    margin:2% 2% 12% 2%;
    width:120px;
    height:120px;
  }
  .box-logo .number{
    font-size: 1.4rem;
  }
/* CONTACTO */
  #contact-form{
    width:90%;
  }

  /* CONTENEDOR DIALOGS - SPINNER */
  .container-spinner{
    margin-top: 25%;
    width: 60%;
    height: 55%;
  }

}
